# System Interfaces Configuration for {{device.name}}
interfaces {
    {% for iface in device.interfaces.all() %}
    {{ iface.name }} {
        description "{{ iface.label }}";
        {% if iface.enabled %}
        {% if iface.lag %}
        ether-options {
            802.3ad {{ iface.lag.name }};
        }
        {% else %}
        {% set ipv4 = iface.ip_addresses.filter(address__net_contained="0/0") %}
        {% set ipv6 = iface.ip_addresses.filter(address__net_contained="::/0") %}
        {% if ipv4 or ipv6 %}
        unit 0 {
            {% if ipv4 %}
            {% set fhrps = iface.fhrp_group_assignments.all() %}
            family inet {
                {% for ip in ipv4 %}
                {% set vrrp = none %}
                {% for fhrp in fhrps %}
                    {% set vips = fhrp.group.ip_addresses.all() %}
                    {% set vrrp = fhrp if vips and vips[0].network == ip.network else None %}
                {% endfor %}
                {% if vrrp %}
                address {{ ip }} {
                    vrrp-group {{ vrrp.group }} {
                        virtual-address {{ vrrp.group.ip_addresses.get().host }};
                        priority {{ vrrp.priority }};
                    }
                }
                {% else %}
                address {{ ip }};
                {% endif %}
                {% endfor %}
            }
            {% endif %}
        }
        {% endif %}
        {% endif %}
        {% else %}
        disable;
        {% endif %}
    }
    {% endfor %}
}

