# System Interfaces Configuration for {{device.name}}
interfaces {
    {% for iface in device.interfaces.all() %}
    {{ iface.name }} {
        description "{{ iface.label }}";
        {% if iface.enabled %}
        {% if iface.lag %}
        ether-options {
            802.3ad {{ iface.lag.name }};
        }
        {% else %}
        unit 0 {
            family inet {
                {% for ip in iface.ip_addresses.filter(address__net_contained="0/0") %}
                {% if iface.fhrp_group_assignments.filter(group__ip_addresses__net_contains=ip.address) %}
                address {{ ip }} {
                    vhrp-group
                {% endif %}
                address {{ ip }};
                {% endfor %}
            }
        }
        {% endif %}
        {% else %}
        disable;
        {% endif %}
    }
    {% endfor %}
}

